body {
  font-family: Arial, sans-serif;
  background: #0b1628;
  color: white;
  text-align: center;
  padding: 40px;
}

.container {
  background: #111827;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

select,
button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
